<head>
    <title>test webb</title>
</head>

<body>
    <h1>APP <%=username %> </h1>
    <% names.map((i)=>{ %>
        <div class="eedd">
            <%=i %>
        </div>
    <% }) %>
           </ul>

</body>